# Binaries
/*
!cmd/
!internal/
!pkg/
!.github/
!Makefile
!README.md
!LICENSE
!go.mod
!go.sum
!.gitignore
*.exe
*.test
*.out

# Coverage
coverage.out
*.coverprofile

# Go
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
