package {{ .inputs.package_name }}

import "testing"

func TestHello(t *testing.T) {
	got := Hello()
	want := "hello from {{ .inputs.package_name }}"
	if got != want {
		t.Errorf("Hello() = %q, want %q", got, want)
	}
}
